
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>ShareBoard Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <!-- <script src="./chat.js" defer></script> -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <!-- <div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
    <% }) %>
  </div> -->
  <!-- <form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form> -->
  <body class=" container text-center">
    <form action="/room" method="POST" class="form-signin">
      <img class="mb-4" src="./assets/WhiteBoard.png" alt="" width="72" height="72">
      <h1 class="h2 mb-3 font-weight-normal" style="color :azure; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Welcome to JBoard</h1>
      <!-- <input type="text" id="inputName" class="form-control" placeholder="Enter Your Name" required autofocus autocomplete="off"> -->
      <input name = "room" type="text" id="RoomId" class="form-control" placeholder="RoomID" autocomplete="off">
      <button class="btn btn-md btn-success btn-block" type="submit">Create Room</button>
      <button class="btn btn-md btn-danger btn-block" id = "join_room_btn" type="button">Join Room</button>
      <p class="mt-5 mb-3 text-muted">&copy; Developed By Anuj Sinha</p>
    </form>
  <script>
      const login_btn = document.querySelector('#join_room_btn');
      login_btn.addEventListener('click',(e) => {
          e.preventDefault();
          var roomId = document.getElementById('RoomId').value;
          if(RoomId !== ''){
            var url = window.location + encodeURIComponent(roomId); // index.html?name=' + encodeURIComponent(name);
            document.location.href = url;
          }
      });
  </script> 
  
</form>
</body>
</html>
